form {
  height: 2.5em;
  width: 100vw;
  text-align: center;
  margin-top: 3.125em;
  z-index: 1;
  position: absolute;
}

.search {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border-radius: 0.313em;
  padding: 0.625em;
}